//- navbar.jade
//- ===========
//- - author: Neal.Rame. <contact@nealrame.com>
//- -   date: Thu Sep 18 13:25:12 CEST 2014
div.sticky.menu
    nav.top-bar(data-topbar)
        ul.title-area
            li.name.hide-for-medium-up
                h1: a(href="#") mon Bar à Couture
            li.toggle-topbar.menu-icon
                a(href="#"): span
        section.top-bar-section
            ul.right
                each entry in menu['topbar']
                    - var entry_page = entry.page
                    - var entry_class = entry_page === page.name ? 'active':''
                    - var entry_slug = entry.slug
                    - var entry_title = entry.title
                    li(class=entry_class)
                        if entry_title === 'home'
                            a(href=entry_slug): i.fa.fa-home
                        else
                            a(href=entry_slug) #{entry_title}
                            
                if loggedIn
                    li.has-dropdown
                        a
                            img.user-picture(src=user.picture)
                            span.user-name #{user.name.full}
                        ul.dropdown
                            li: a(href='/admin')
                                i.fa.fa-gear
                                |  Dashboard
                            li: a(href=logoutLink)
                                i.fa.fa-sign-out
                                |  Logout
